.venv
spark/resources/response.csv
spark/__pycache__
spark/share
spark/Scripts
spark/Lib
spark/Include
spark/pyvenv.cfg
spark/resources/photos/*
spark/resources/processed.csv
spark/execution_scripts/yolov5x6.pt
spark/execution_scripts/mlruns/*